@import "widgets/ava-custom-menu";

@mixin font-awesome-icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ava-menu-container {
	position: relative;
	width: 100%;
}

.ava-menu {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: stretch;

	@media (min-width: 768px) {
		flex-flow: row wrap;
	}

	.ava-mobile-menu-active & {
		flex-flow: column wrap;
	}

	.ava-desktop-menu-active & {
		flex-flow: row wrap;
	}

	> .ava-menu-item {
		display: flex;

		> a {
			width: 100%;
			margin: 0;
			//white-space: nowrap;
			padding: 10px;
		}
	}

	ul {
		left: 0;
	}

}

.ava-menu-item {
	position: relative;

	> a {
		display: block;
		text-decoration: none;
		width: auto;
	}

	&.ava-mega-menu-item {
		position: static;

		&.ava-mega-menu-position-relative-item {
			position: relative;
		}
	}

	.top-level-link {
		display: flex;
	}

	&-desc {
		white-space: normal;
	}

	.ava-sub-menu {
		display: block;
		min-width: 200px;
		margin: 0;
		background-color: white;
		list-style: none;
		left: 0;
		top: 0;
		position: relative;
		padding: 0;
		z-index: auto;

		.rtl & {
			left: auto;
			right: 0;
		}

		@media (min-width: 768px) {
			position: absolute;
		}

		.ava-mobile-menu-active & {
			position: relative;
		}

		.ava-desktop-menu-active & {
			position: absolute;
			top: 100%;
			left: 0;
			right: auto;
			box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.2 );
			z-index: 999;
			pointer-events: none;

			&.inverse-side {
				right: 0;
				left: auto;
			}

			.ava-sub-menu {
				top: 0;
				left: 100%;
				right: auto;

				&.inverse-side {
					right: 100%;
					left: auto;
				}
			}
		}

		.ava-desktop-menu-active.rtl & {
			left: auto;
			right: 0;

			&.inverse-side {
				right: auto;
				left: 0;
			}

			.ava-sub-menu {
				left: auto;
				right: 100%;

				&.inverse-side {
					right: auto;
					left: 100%;
				}
			}
		}

		> li {
			display: block;

			> a {
				padding: 10px;
			}
		}
	}
}

.ava-menu-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.ava-menu-icon {
		align-self: center;
		margin-right: 10px;

		.label-hidden & {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.ava-dropdown-arrow {
		align-self: center;
		margin-left: 10px;
	}

	.ava-menu-badge {
		display: none;
		align-self: flex-start;
		text-align: center;
		width: 0;

		&.ava-hide-mobile {
			.ava-mobile-menu-active & {
				.ava-menu-badge__inner {
					display: none;
				}
			}
		}

		&__inner {
			display: inline-block;
		}
	}
}


.ava-menu-inner {
	@media ( max-width: 767px ) {
		display: none;
	}

	.ava-desktop-menu-active & {
		display: block;
	}
}

.ava-mobile-menu-active {

	.ava-mobile-menu-toggle-button {
		display: block;
	}

	.ava-menu {
		background-image: none;
	}

	.ava-menu-container.ava-mobile-menu {
		position: fixed;
		top: 0;
		right: -80%;
		z-index: 998;
		max-width: 80%;
		height: 100vh;
		background-color: white;
		transition: right .3s cubic-bezier(.35,.19,.45,.91);
	}

	.ava-menu-inner {
		overflow-y: scroll;
		display: block;
		height: 100vh;
	}

	.ava-menu {
		.ava-menu-item {
			flex-flow: column nowrap;
			max-width: 100%;

			> a.top-level-link,
			> a.sub-level-link {
				border-radius: 0;
				border-left: none;
				border-right: none;
				border-bottom-width: 1px;

				.ava-menu-item-wrapper {}

				.ava-dropdown-arrow {
					width: 25px;
					height: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			& > .ava-sub-menu {
				border-radius: 0;
				box-shadow: none;
			}

			& > .ava-sub-mega-menu {
				border-radius: 0;
				box-shadow: none;
			}

			&.ava-menu-hover {
				& > .ava-sub-menu {
					height: auto;
					pointer-events: auto;
				}

				& > .ava-sub-mega-menu {
					height: auto;
					pointer-events: auto;
				}
			}

			&:not(.ava-menu-hover) {
				& > .ava-sub-menu {
					padding: 0 !important;
					border: none !important;
					margin: 0  !important;
				}

				& > .ava-sub-mega-menu {
					padding: 0 !important;
					border: none !important;
					margin: 0  !important;
				}
			}
		}
	}

	.ava-sub-menu {
		height: 0;
		opacity: 1;
		overflow: hidden;
		visibility: visible;
	}

	.ava-mega-menu-item .ava-sub-mega-menu {
		height: 0;
		opacity: 1;
		overflow: hidden;
		visibility: visible;
		max-width: 100% !important;
		left: 0 !important;
		width: 100% !important;
	}

	.ava-menu-item-has-children {
		& > .ava-sub-menu {
			padding-left: 20px;
		}
	}
}

.ava-mobile-menu-toggle-button {
	width: 35px;
	height: 35px;
	display: none;
	position: absolute;
	padding: 0;
	border-width: 0;
	left: -45px;
	top: 10px;

	.ava-menu-toggle__icon {
		@include font-awesome-icon;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;

		&::after {
			top: .75em;
			content: '\f0c9';
		}
	}

	.ava-mobile-menu-visible & {
		.ava-menu-toggle__icon {
			&::after {
				content: '\f00d';
			}
		}
	}
}

.ava-mobile-menu-cover {
	position: fixed;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba( 0, 0, 0, 0.75 );
	z-index: 997;
	transition: opacity .3s cubic-bezier(.5,.12,.46,.88),
				visibility .1s linear;
}

.ava-sub-mega-menu {
	width: 100%;
	display: block;
	position: relative;
	background-color: white;
	pointer-events: none;

	@media (min-width: 768px) {
		position: absolute;
	}

	.ava-mobile-menu-active & {
		position: relative;
	}

	.ava-desktop-menu-active & {
		width: 100%;
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.2 );
		z-index: 999;
	}

	.ava-mega-menu-position-relative-item & {
		left: 0 !important;
	}
}

.ava-responsive-menu {
	> li {
		&[hidden] {
			display: none;
		}
	}

	&-available-items {
		&[hidden] {
			display: none;
		}
	}
}

body.ava-mobile-menu-visible {
	overflow: hidden;
	width: 100%;
	height: auto;

	.ava-mobile-menu-cover {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transition: opacity .3s cubic-bezier(.5,.12,.46,.88),
					visibility .1s linear;
	}

	.ava-menu-container.ava-mobile-menu {
		right: 0;
		transition: all .5s cubic-bezier(.35,.19,.45,.91);
		box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
	}
}

.admin-bar.ava-mobile-menu-active {
	.ava-mobile-menu-toggle-button {
		top: 56px;
	}
	.ava-menu {
		margin-top: 46px;
	}
}

// FIX showing sub-menu and sub-mega-menu when loading a page.
.ava-sub-menu,
.ava-sub-mega-menu {
	opacity: 0;
	visibility: hidden;
}

.ava-desktop-menu-active {
	.ava-menu--animation-type-none {

		.ava-sub-menu {
			opacity: 0;
			visibility: hidden;
		}

		.ava-sub-mega-menu {
			opacity: 0;
			visibility: hidden;
		}

		.ava-simple-menu-item {

			&.ava-menu-hover {
				& > .ava-sub-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}

			li {
				&.ava-menu-hover {
					& > .ava-sub-menu {
						top: 0;
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}

		.ava-mega-menu-item {
			&.ava-menu-hover {
				.ava-sub-mega-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}

	}

	.ava-menu--animation-type-fade {

		.ava-sub-menu {
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s cubic-bezier(.48,.01,.5,.99),
						visibility .1s linear;
		}

		.ava-sub-mega-menu {
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s cubic-bezier(.48,.01,.5,.99),
						visibility .1s linear;
		}

		.ava-simple-menu-item {

			&.ava-menu-hover {
				& > .ava-sub-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}

			li {
				&.ava-menu-hover {
					& > .ava-sub-menu {
						top: 0;
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}

		.ava-mega-menu-item {
			&.ava-menu-hover {
				.ava-sub-mega-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}

	}

	.ava-menu--animation-type-move-up {

		.ava-sub-menu {
			opacity: 0;
			top: 130%;
			visibility: hidden;
			transition: top .2s cubic-bezier(.48,.01,.5,.99) .1s,
						opacity .2s cubic-bezier(.48,.01,.5,.99) .1s,
						visibility 1s linear;
		}

		.ava-sub-mega-menu {
			opacity: 0;
			top: 130%;
			visibility: hidden;
			transition: top .3s cubic-bezier(.48,.01,.5,.99) .1s,
						opacity .3s cubic-bezier(.48,.01,.5,.99) .1s,
						visibility 1s linear;
		}

		.ava-simple-menu-item {

			&.ava-menu-hover {
				& > .ava-sub-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					transition: top .3s cubic-bezier(.48,.01,.5,.99),
								opacity .3s cubic-bezier(.48,.01,.5,.99),
								visibility 1s linear;
				}
			}

			li {
				&.ava-menu-hover {
					& > .ava-sub-menu {
						top: 0;
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
						transition: top .3s cubic-bezier(.48,.01,.5,.99),
									opacity .3s cubic-bezier(.48,.01,.5,.99),
									visibility 1s linear;
					}
				}
			}
		}

		.ava-mega-menu-item {
			&.ava-menu-hover {
				.ava-sub-mega-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}

	}

	.ava-menu--animation-type-move-down {
		.ava-sub-menu {
			opacity: 0;
			top: 80%;
			visibility: visible;
			transition: top .3s cubic-bezier(.48,.01,.5,.99),
						opacity .3s cubic-bezier(.48,.01,.5,.99),
						visibility 1s linear;
		}

		.ava-sub-mega-menu {
			opacity: 0;
			top: 80%;
			visibility: hidden;
			transition: top .3s cubic-bezier(.48,.01,.5,.99),
						opacity .3s cubic-bezier(.48,.01,.5,.99),
						visibility 1s linear;
		}

		.ava-simple-menu-item {

			&.ava-menu-hover {
				& > .ava-sub-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}

			li {
				&.ava-menu-hover {
					& > .ava-sub-menu {
						top: 0;
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}

		.ava-mega-menu-item {
			&.ava-menu-hover {
				.ava-sub-mega-menu {
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
	}
}

// Prevent duplicate sub-menu and mega-menu when the section is sticky
.ava-desktop-menu-active {
	.elementor-sticky--active + .elementor-sticky {
		.ava-sub-menu,
		.ava-sub-mega-menu {
			display: none;
		}
	}
}

// if iphone and safari
.ava-mobile-menu .ava-menu.ava-menu--iphone-mode {
	margin-bottom: 75px;
}
